body {
    background: #eef9bf;

    font-family: 'Righteous', cursive;
    font-family: 'Roboto', sans-serif;
}

 .titulo {
     font-size: 56px;
     color: #75B79E;
     font-weight: 600;

     margin: 40px 0;

     display: flex;
     justify-content: center;
 }

.corpo {
     width: auto;
     height: auto;

     display: flex;
     justify-content: center;
 }

 .container_cartas {
    width: 70%;
    height: 60px;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
 }

 .carta {
     width: 117px;
     height: 146px;
     margin: 10px 10px;
     border-radius: 5px;

     background-color: #A7E9AF;

     display: flex;
     justify-content: center;
     align-items: center;

     position: relative;
 }

 .papagaio {
     width: 90px;
 }

 .img_verso {
     width: 60px;

     position: absolute;

     opacity: 0;
 }

 .carta.revelar_verso .img_verso{
     opacity: 1;
 }

 .carta.revelar_verso .papagaio{
     display: none;
 }

